html {
	background-color: black;
}

body {
	background-color: White;
	margin: auto;
	max-width: 600px;
	height: 1000px;
	padding-top: 75px;
	padding-right: 50px;
	padding-left: 50px;
	 border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 75px;
  width: 600px;
  height: 1000px;
}
